.question_form {
	// margin: auto;
	// width: fit-content;
	:global {
		.textInput {
			padding: 8px 10px;
			min-width: 300px;
			border: 1px solid #cecece;
			border-radius: 5px;
			outline: none;
		}

		.addAnswer {
			display: flex;
			button {
				padding: 10px 15px;
				border: none;
				border-radius: 5px;
				font-weight: 600;
				background-color: rgb(124, 253, 124);
				transition: all 0.2s linear;
				&:hover:not(:disabled) {
					cursor: pointer;
					background-color: rgb(44, 251, 44);
				}
			}
		}

		.answer {
			margin: 10px 0;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: rgb(237, 237, 237);
			input,
			label {
				cursor: pointer;
			}
		}

		.submitButton {
			padding: 10px 15px;
			width: 150px;
			border: none;
			outline: none;
			font-weight: 600;
			border-radius: 5px;
			background-color: rgb(124, 253, 124);
			transition: all 0.2s linear;
			&:hover:not(:disabled) {
				cursor: pointer;
				background-color: rgb(44, 251, 44);
			}
		}
	}
}
